firefox/SOURCES/firefox-128.3.1esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.9.0esr.b2.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.6.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.7.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.14.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.10.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.4.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.3.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-128.13.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.8.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.9.1esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.4.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.6.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.7.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.3.1esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.14.0esr.b2.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.12.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-102.15.1esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-115.10.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/wasi-sdk-20.tar.gz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-91.8.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-102.10.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-102.3.0esr.processed-source.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/nss-3.79.0-11.el8_1.src.rpm filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/nss-3.79.0-6.el8_1.src.rpm filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/nss-3.67.0-7.el8_1.src.rpm filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.14.0esr-20250815.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/nss-3.101.0-7.el9_2.src.rpm filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.13.0esr-20250715.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/nss-3.101.0-7.el8_2.src.rpm filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.6.0esr-20241218.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.9.0esr-20250331.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/nss-3.90.0-3.el9_0.src.rpm filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/nss-3.90.0-3.el8_1.src.rpm filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.10.0esr-20250422.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.14.0esr-20240801.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.3.0esr-20240924.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.3.1esr-20241009.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.7.0esr-20250129.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-128.4.0esr-20241022.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.12.0esr-20240604.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.10.0esr-20240409.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.9.1esr-20240322.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.7.0esr-20240116.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.8.0esr-20240213.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-102.15.1esr-20230913.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.4.0esr-20231017.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-102.10.0esr-20230404.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.6.0esr-20231212.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-102.3.0esr-20220913.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-115.3.1esr-20230929.tar.xz filter=lfs diff=lfs merge=lfs -text
firefox/SOURCES/firefox-langpacks-91.8.0esr-20220405.tar.xz filter=lfs diff=lfs merge=lfs -text
